* { box-sizing: border-box; font: inherit; user-select: inherit; outline: none; margin: 0; padding: 0; }
*[hidden] { display: none !important; }

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-size: 2em;
}