* { box-sizing: border-box; font: inherit; user-select: inherit; outline: none; margin: 0; padding: 0; }
*[hidden] { display: none !important; }

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  text-align: center;
  background: #00223e;
  color: #eee;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h1 img {
  max-width: 100%;
  max-height: 400px;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

button {
  padding: 1em;
}

.join {
  padding: 0 1em;
}

.join input {
  padding: 0.25em;
  text-align: center;
  font-size: 2em;
  width: 5em;
  text-transform: uppercase;
  margin-right: 0.5em;
}

.join .code {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
}

.start {
  padding: 0 1em;
}
