* { box-sizing: border-box; font: inherit; user-select: inherit; outline: none; margin: 0; padding: 0; }
*[hidden] { display: none !important; }

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: sans-serif;
  user-select: none;
  overflow: hidden;
}

body > div, body > form {
  flex: 1;
  overflow: hidden;
}

.loading, .disconnected {
  font-size: 5em;
}

/* Join */
.join {
  text-align: center;
  padding: 2em;
}

/* Viewer */
.viewer {
  text-align: center;
  padding: 2em;
}  

.viewer .gameUrl {
  display: block;
  font-size: 2em;
}  

/* Player */
.player .waitingForStart {
  text-align: center;
  padding: 2em;
}

